Source: context-modules
Section: tex
Priority: optional
Maintainer: Debian TeX Task Force <debian-tex-maint@lists.debian.org>
Uploaders: Norbert Preining <norbert@preining.info>,
	   Hilmar Preusse <hille42@web.de>
Build-Depends: debhelper-compat (= 13), tex-common
Standards-Version: 4.6.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/debian-tex/context-modules.git
Vcs-Browser: https://github.com/debian-tex/context-modules
Homepage: https://modules.contextgarden.net

Package: context-modules
Architecture: all
Depends: context, ${misc:Depends}
Description: additional ConTeXt modules
 ConTeXt is a document-production system based, like LaTeX, on the TeX
 typesetting system.  Whereas LaTeX insulates the writer from
 typographical details, ConTeXt takes a complementary approach by
 providing structured interfaces for handling typography, including
 extensive support for colors, backgrounds, hyperlinks, presentations,
 figure-text integration, and conditional compilation.  It gives the
 user extensive control over formatting while making it easy to create
 new layouts and styles without learning the TeX macro language.
 ConTeXt's unified design averts the package clashes that can happen
 with LaTeX.
 .
 This package includes the following additional ConTeXt modules:
 account, algorithmic, animation, annotation, bnf, chromato, cmscbf,
 cmttbf, construction-plan, cyrillicnumbers, degrade, fancybreak,
 filter, french, fullpage, gantt, gnuplot, inifile, layout, letter,
 lettrine, mathsets, notes-zh-cn, rst, ruby, simplefonts, simpleslides,
 title, transliterator, typearea, typescripts, vim, visualcounter.
